@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

.App {
	text-align: center;
}

html {
	height: 100%;
}
/* background-image: url(/public/img/bg-default.png); */
body {
	font-family: "Lato", sans-serif;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	margin: 0;
	opacity: 0.8;
}
.opacity {
	opacity: 0.8;
}

.my-link {
	background-color: #212529;
	color: white;
	margin: 15px;
	width: 180px;
	transition: background-color 0.2s ease-in-out;
}

.my-link:hover {
	background-color: #424649;
	color: white;
}

.btn-position {
	top: 10px;
	right: 10px;
}

.favorite-card {
	/* height: 150px; */
	/* width: 250px; */
	text-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
	background-size: cover;
	color: white;
	border-radius: 20px;
}
.my-scroll-zone {
	max-height: 300px;
	overflow-y: auto;
}

::-webkit-scrollbar {
	width: 0; /* Larghezza della barra di scorrimento */
}

::-webkit-scrollbar-track {
	background: transparent; /* Colore dello sfondo della traccia */
}

::-webkit-scrollbar-thumb {
	background: transparent; /* Colore della barra di scorrimento */
}

::-webkit-scrollbar-thumb:hover {
	background: transparent; /* Colore della barra di scorrimento quando si passa il mouse */
}
