@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

.App {
	text-align: center;
}

html {
	height: 100%;
}
body {
	/* background-image: url("../public/img/bg.avif"); */
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	font-family: "Lato", sans-serif;
}
.opacity {
	opacity: 0.8;
}

.my-link {
	background-color: #212529;
	color: white;
	padding: 5px;
	margin: 15px;
	width: 180px;
	transition: background-color 0.2s ease-in-out;
}

.my-link:hover {
	background-color: #424649;
	color: white;
}

.btn-position {
	top: 10px;
	right: 10px;
}
